[submodule "roar-swr"]
	path = roar-swr
	url = git@github.com:yeatmanlab/roar-swr.git
[submodule "roar-pa"]
	path = roar-pa
	url = git@github.com:yeatmanlab/roar-pa.git
[submodule "roar-mep"]
	path = roar-mep
	url = git@github.com:yeatmanlab/roar-mep.git
[submodule "roar-sre"]
	path = roar-sre
	url = git@github.com:yeatmanlab/roar-sre.git
